<link rel="stylesheet" href="/css/style.css">
<div class="page-container">
    <br><center><h3>出て来た「{{ title }}」のエピソード</h3></center><br>
    <div class="table-responsive">
        <table class="table table-hover">
            <thead class="thead-dark">
                <tr>
                    <th>番</th>
                    <th>オリジナルリンク</th>
                    <th>直接リンク</th>
                </tr>
            </thead>
            <tbody>
                {{#each results}}
                <tr>
                    <td>第{{ index }}話</td>
                    <td><a target="_blank" href="{{ link }}">オリジナルページを開ける！</a></td>
                    <td id="dirlink_{{ index }}">
                        <a href="javascript:shutoku('dirlink_{{ index }}', '{{ link }}')">直接リンクを取得！</a>
                    </td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
</div>
<script type="text/javascript" src="/js/list.js"></script>