<link rel="stylesheet" href="/css/style.css">
<link rel="stylesheet" href="/css/search.css">
<div class="page-container">
    <div id="search-bar">
        <div id="spacer">&nbsp;</div>
        <input id="keyword" type="text" class="form-control input-field" submit="search" placeholder="検索語" required>
        <button id="search" class="btn btn-primary">検索</button>
    </div>
    <div id="results"> <!-- 検索結果 -->
    </div>
</div>
<script type="text/javascript" src="/js/search.js"></script>