div#search-bar {
    margin-bottom: 2%;
    display: flex;
}

div#search-bar > div#spacer {
    flex: 70;
}

div#search-bar > input#keyword {
    flex: 20;
    margin-right: 5px;
}

div#search-bar > button#search {
    flex: 10;
}

div#results {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 2%;
}

div#results > div.result {
    flex: 1;
}

div.result {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 5px;
    margin: 2px;
}

div.result:hover {
    border: 2px solid red;
    margin: 0px;
}

div.result > * {
    flex: 1;
}

div.result img {
    height: 300px;
    width: 200px;
}